tmp/
2019_07_06_20_44_19_rnn_words_random_embed/classification_report_train.txt
2019_07_06_20_44_19_rnn_words_random_embed/classification_report_valid.txt
2019_07_07_09_45_38_rnn_all_random_embed/classification_report_train.txt
2019_07_07_09_45_38_rnn_all_random_embed/classification_report_valid.txt
2019_08_01_13_32_20_svm_linear/classification_report_train.txt
2019_08_01_13_32_20_svm_linear/classification_report_valid.txt
2019_08_01_15_45_37_svm_rbf/classification_report_train.txt
2019_08_01_15_45_37_svm_rbf/classification_report_valid.txt
2019_08_01_17_54_45_rnn_words_glove_embed/classification_report_train.txt
2019_08_01_17_54_45_rnn_words_glove_embed/classification_report_valid.txt
2019_08_01_19_26_14_rnn_all_glove_embed/classification_report_train.txt
2019_08_01_19_26_14_rnn_all_glove_embed/classification_report_valid.txt
